[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restx = "*"
gunicorn = "*"
google-cloud-aiplatform = "*"
cloudpickle = "*"
litellm = "==0.1.793"
shell = "*"
llama-index = "*"
flask-session = "*"
telebot = "*"
chromadb = "==0.4.13"
langchain = "*"
"pdfminer.six" = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
