[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-cors = "*"
flask-restx = "*"
gunicorn = "*"
google-cloud-aiplatform = "*"
cloudpickle = "*"
litellm = "==0.1.793"
shell = "*"
llama-index = "*"
flask-session = "*"
telebot = "*"
chromadb = "==0.4.3"
langchain = "*"
shapely = "*" 
waitress = "*"
vertexai = "==0.0.1"
"pdfminer.six" = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10.13"
python_full_version = "3.10.13"
