[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restx = "*"
gunicorn = "*"
google-cloud-aiplatform = "*"
cloudpickle = "*"
vertexai = "==0.0.1"
litellm = "==0.1.345"
pipenv = "*"
shell = "*"
langchain = "*"
llama-index = "==0.8.27"
schedule = "*"
flask-session = "*"
python-memcached = "*"
chromadb = "*"
sentence-transformers = "*"
pytelegrambotapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
